.App {
  background-color: #a6c1ef;
  text-align: center;
  font-family: Arial, sans-serif;
}

.profile {
  background-color: rgb(97, 142, 124);
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #05041d;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.profile img {
  width: 150px;
  border-radius: 50%;

}

button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
